:root {
  --orange: #ff914d;
  --yellow-white: #fcfef1;
  --raspberry: #990147;
  --cultured-white: whitesmoke;
  --raisin-black: #1b1b1e;
  --ffd914e: var(--silver-pink);
  --silver-pink: #b19e96;
  --light-grey: lightgrey;
  --turquoise: #3b9a9e;
  --blue: #005d9e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgray;
  font-family: Lato, sans-serif;
}
